<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have successfully submitted article!</p>
    <p>
    Article details<br>
    --------------------------
    </p>
    <p>Title: <%= @article.title %></p>
    <p>Description: <%= @article.description %></p>
    <p>
  </body>
</html>